@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="uk-margin-top">
        <button class="btn btn-info"><a asp-controller="Account" asp-action="Register" asp-area="Identity">Üye Ol!</a></button>

        <button type="submit" class="btn btn-primary"><a asp-controller="Account" asp-action="Login" asp-area="identity">Giriş Yap</a></button>
    </div>
    <h1 class="display-4">Hoş Geldiniz..!</h1>
    <p></p>
    <p><a asp-controller="Account" asp-action="Register" asp-area="Identity">Sende paylaşmak ister misin?</a></p>
   
</div>
