<div class="md-card" style="padding:10px">
<h3 class="heading_a">Müşteri Detay İşlemleri</h3>
<div>
    <button id="btnNew" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-ligth">
        <i class="uk-icon-stethoscope"></i>
        Yeni</button>

         <button id="btnSave" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-ligth">
        <i class="uk-icon-plus"></i>
        Kaydet</button>

        <button id="btnDelete" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-ligth">
            <i class="uk-icon-stethoscope"></i>
            Sil
        </button>

        <button id="btnListele" class="md-btn md-btn-primary md-btn-wave-light md-btn-icon waves-effect waves-button waves-ligth">
            <i class="uk-icon-plus"></i>
            Listele
        </button>

    
</div>
</div>