@section pageCss{
    @*Bu bbölme layout içerisinde head in son kısmında bulunan css kısmına denk gelmektedir*@
}
<style>
    .customer-list{
        background-color:red;
    }
</style>

<h1>Customer list page</h1>

@section pageJs{
    @*sayfanın alt kısmında js tarafında bulunan section a gider*@
}