@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@model CategoryCreateVM


<form asp-action="Create" asp-area="Admin" asp-controller="Category">
    <!-- Name input -->
    <div class="form-outline mb-4">
        <input asp-for="Name" id="form4Example1" class="form-control" />
        <label class="form-label" for="form4Example1">Name</label>
    </div>

    <!-- Email input -->
    <div class="form-outline mb-4">
        <input asp-for="Code" id="form4Example2" class="form-control" />
        <label class="form-label" for="form4Example2">Code</label>
    </div>





    <!-- Submit button -->
    <input type="submit" class="btn btn-primary btn-block mb-4" value="Save" />
</form>