@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@model CategoryEditVM

<div class="row">
    <div class="col-lg-6">
        <form asp-action="Edit" asp-area="Admin" asp-controller="Category">

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Status" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedDate" />
            <!-- Name input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example1">Name</label>
                <input asp-for="Name" id="form4Example1" class="form-control" />
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="form4Example2">Code</label>
                <input asp-for="Code" id="form4Example2" class="form-control" />
            </div>





            <!-- Submit button -->
            <input type="submit" class="btn btn-primary btn-block mb-4" value="Save" />
        </form>
    </div>
</div>
