@{
    ViewData["Title"] = "GetAllCategories";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@model List<CategoryListVM>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Code</td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-area="Admin" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-area="Admin" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>

</table>

