@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<a class="btn btn-success" asp-action="GetAllCategories">Liste</a>
<a class="btn btn-danger" asp-action="Create">Ekle</a>
