@model List<Category>

<ul class="tm-mb-75 pl-5 tm-category-list">
    @foreach (Category item in Model)
    {
        <li><a asp-action="PostList" asp-controller="Category" asp-route-id="@item.ID" class="tm-color-primary">@item.CategoryName</a></li>

    }
</ul>