<h1>Partial Login Kısmi Görünümü</h1>

<div class="container">
    <label> Kullanıcı Adı</label>
    <input name="txtUserName" id="txtUserName" class="form-control" />
    <label> Şifre</label>
    <input name="txtPassword" id="txtPassword" class="form-control" type="password" />
    <button class="btn btn-outline-success">Giriş</button>
</div>