@model TagHelperWithHttpsConf.Models.PersonalVM

<form asp-controller="Input" asp-action="Index">
    
    <div class="row">
        <div class="col-md-2">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name"/>
        </div>
        <div class="col-md-4">
            <label asp-for="Description"></label>
            <textarea class="form-control" asp-for="Description"></textarea>
        </div>
        <div class="col-md-4">
            <label asp-for="IsActive"></label>
            <input asp-for="IsActive"/>
        </div>  
        <div class="col-md-4">
            <label asp-for="BirthDate"></label>
            <input asp-for="BirthDate"/>
        </div>

        <div class="col-md-4">
            <label asp-for="Department"></label>
            <select asp-for="DepartmentId" asp-items="ViewBag.Departments"class="form-control"></select>
        </div>

    

    </div>

    <product-list productData="Product1,Product2,Product3"></product-list>
    <button type="submit" class="btn btn-outline-success">Kaydet</button>
</form>