@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1>Müşteri Listesi Sayfası</h1>
<p>
    Asp .Net Mvc platformunda html kısmını burada yazıyoruz. Yani bizim sayfa tasarımlarımız bu cshtml dosyası içerisinde bulunacaktır
</p>