@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Index" asp-controller="Home" asp-area="Admin">Admin</a>
<br />
<a asp-action="Index" asp-controller="Home" asp-area="Customer">Customer</a>
<br />
<a asp-action="Index" asp-controller="Home" asp-area="IK">IK</a>
<br />
<a asp-action="Index" asp-controller="Home" asp-area="Order">Order</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
