@model MVC_TagHelper2.Models.MovieVM

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <label asp-for="ID">Film Id</label>
            <input class="form-control" type="text" asp-for="ID" />
        </div>
        <div class="col-md-2">
            <label asp-for="Title">Film Başlık</label>
            <input class="form-control" type="text" asp-for="Title" />
        </div>
        <div class="col-md-2">
            <label asp-for="ID">Çıkış Tarihi</label>
            <input class="form-control" type="text" asp-for="RleaseDate" />
        </div>
        <div class="col-md-2">
            <label asp-for="ID">Fiyat</label>
            <input class="form-control" type="text" asp-for="Price" />
        </div>
    </div>


</div>