@model View_Intro.Models.HsTextBoxModel

<div class="input-group mb-3">
    <input type="text" name="@Model.Name" class="form-control" placeholder="" value="@Model.Value" />
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2" >Seç</span>
    </div>
</div>